n8n/workflows/01-welcome-email.json
{
  "name": "Conferly: Welcome Email on Signup",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "conferly",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Conferly Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "conferly-events"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "user.signup",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-1",
      "name": "Is Signup?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@conferly.site",
        "toEmail": "={{ $json.body.email }}",
        "subject": "Welcome to Conferly, {{ $json.body.displayName }}! 🎉",
        "emailFormat": "html",
        "html": "<!DOCTYPE html><html><head><style>body{font-family:Inter,system-ui,sans-serif;background:#0f172a;color:#fff;padding:40px;margin:0;}.container{max-width:560px;margin:0 auto;background:linear-gradient(180deg,rgba(245,158,11,0.05),transparent);border:1px solid rgba(245,158,11,0.2);border-radius:24px;padding:48px 32px;text-align:center;}.logo{font-size:32px;font-weight:800;background:linear-gradient(135deg,#fbbf24,#f59e0b);-webkit-background-clip:text;-webkit-text-fill-color:transparent;margin-bottom:8px;}.tagline{color:#94a3b8;font-size:13px;margin-bottom:32px;}h1{font-size:28px;margin:0 0 16px;}p{color:#cbd5e1;line-height:1.7;margin:0 0 16px;}.btn{display:inline-block;padding:14px 32px;background:linear-gradient(135deg,#f59e0b,#d97706);color:white;text-decoration:none;border-radius:999px;font-weight:600;margin-top:24px;}.feature{display:flex;align-items:start;gap:12px;text-align:left;padding:12px 0;border-top:1px solid rgba(255,255,255,0.05);}.feature-icon{width:32px;height:32px;background:rgba(245,158,11,0.15);border-radius:8px;display:flex;align-items:center;justify-content:center;font-size:16px;flex-shrink:0;}.footer{margin-top:32px;color:#64748b;font-size:12px;}</style></head><body><div class=\"container\"><div class=\"logo\">Conferly</div><div class=\"tagline\">Connecting with Purpose</div><h1>Welcome aboard, {{ $json.body.displayName.split(' ')[0] }}!</h1><p>You've just joined a premium conferencing platform rooted in the African philosophy of Ubuntu — \"I am because we are.\"</p><p>Your 14-day trial is now active. Here's what you can do:</p><div style=\"text-align:left;margin:32px 0;\"><div class=\"feature\"><div class=\"feature-icon\">📹</div><div><strong>HD Video Calls</strong><br><span style=\"color:#94a3b8;font-size:13px;\">Up to 10 participants, 60-minute meetings</span></div></div><div class=\"feature\"><div class=\"feature-icon\">🌐</div><div><strong>11 SA Language Translation</strong><br><span style=\"color:#94a3b8;font-size:13px;\">Real-time translation across all official languages</span></div></div><div class=\"feature\"><div class=\"feature-icon\">🧠</div><div><strong>AI Meeting Summaries</strong><br><span style=\"color:#94a3b8;font-size:13px;\">3-bullet summaries of every conversation</span></div></div><div class=\"feature\"><div class=\"feature-icon\">📝</div><div><strong>Collaborative Notes</strong><br><span style=\"color:#94a3b8;font-size:13px;\">Real-time shared notes powered by Yjs</span></div></div></div><a href=\"https://www.conferly.site\" class=\"btn\">Start Your First Meeting →</a><div class=\"footer\">Need help? Reply to this email.<br>Conferly · www.conferly.site · Made with ❤️ in South Africa</div></div></body></html>",
        "options": {}
      },
      "id": "email-1",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 200],
      "credentials": { "smtp": { "id": "1", "name": "Conferly SMTP" } }
    }
  ],
  "connections": {
    "Conferly Webhook": { "main": [[{ "node": "Is Signup?", "type": "main", "index": 0 }]] },
    "Is Signup?": { "main": [[{ "node": "Send Welcome Email", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "conferly" }, { "name": "email" }]
}
