n8n/workflows/02-payment-confirmation.json
{
  "name": "Conferly: Payment Confirmation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "conferly",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Conferly Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "payment.completed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-1",
      "name": "Is Payment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@conferly.site",
        "toEmail": "={{ $json.body.email }}",
        "subject": "Payment received — Welcome to Conferly {{ $json.body.data.plan }}",
        "emailFormat": "html",
        "html": "<!DOCTYPE html><html><head><style>body{font-family:Inter,sans-serif;background:#0f172a;color:#fff;padding:40px;margin:0;}.container{max-width:560px;margin:0 auto;background:rgba(34,197,94,0.05);border:1px solid rgba(34,197,94,0.2);border-radius:24px;padding:48px 32px;}h1{font-size:24px;margin:0 0 16px;}p{color:#cbd5e1;line-height:1.7;}.receipt{background:rgba(255,255,255,0.03);border-radius:12px;padding:20px;margin:24px 0;}.row{display:flex;justify-content:space-between;padding:8px 0;border-bottom:1px solid rgba(255,255,255,0.05);}.btn{display:inline-block;padding:14px 32px;background:linear-gradient(135deg,#f59e0b,#d97706);color:white;text-decoration:none;border-radius:999px;font-weight:600;margin-top:24px;}</style></head><body><div class=\"container\"><div style=\"font-size:48px;\">✓</div><h1>Payment Confirmed</h1><p>Thank you for upgrading to <strong>Conferly {{ $json.body.data.plan }}</strong>! Your account has been upgraded and all features are now active.</p><div class=\"receipt\"><div class=\"row\"><span style=\"color:#94a3b8;\">Plan</span><strong>{{ $json.body.data.plan }}</strong></div><div class=\"row\"><span style=\"color:#94a3b8;\">Billing</span><strong>{{ $json.body.data.cycle }}</strong></div><div class=\"row\"><span style=\"color:#94a3b8;\">Amount</span><strong>R{{ $json.body.data.amountZar }}</strong></div><div class=\"row\" style=\"border:none;\"><span style=\"color:#94a3b8;\">Date</span><strong>{{ $now.toFormat('dd MMM yyyy') }}</strong></div></div><a href=\"https://www.conferly.site\" class=\"btn\">Open Conferly →</a></div></body></html>",
        "options": {}
      },
      "id": "email-1",
      "name": "Send Receipt",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/payments",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "user_id", "value": "={{ $json.body.userId }}" },
            { "name": "plan_tier", "value": "={{ $json.body.data.plan }}" },
            { "name": "billing_cycle", "value": "={{ $json.body.data.cycle }}" },
            { "name": "amount_zar", "value": "={{ $json.body.data.amountZar }}" },
            { "name": "currency", "value": "ZAR" },
            { "name": "status", "value": "completed" }
          ]
        },
        "options": {}
      },
      "id": "supabase-1",
      "name": "Log to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Conferly Webhook": { "main": [[{ "node": "Is Payment?", "type": "main", "index": 0 }]] },
    "Is Payment?": {
      "main": [[
        { "node": "Send Receipt", "type": "main", "index": 0 },
        { "node": "Log to Supabase", "type": "main", "index": 0 }
      ]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "conferly" }, { "name": "payments" }]
}
