n8n/workflows/05-daily-analytics.json
{
  "name": "Conferly: Daily Analytics Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 18 * * *" }]
        }
      },
      "id": "cron-1",
      "name": "Daily at 6pm SAST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/profiles?select=count",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Prefer", "value": "count=exact" }
          ]
        },
        "options": {}
      },
      "id": "users-count",
      "name": "Total Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/meetings?started_at=gte.{{ $now.minus({days:1}).toISO() }}&select=id,duration_seconds",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "meetings-today",
      "name": "Meetings Today",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/payments?created_at=gte.{{ $now.minus({days:1}).toISO() }}&select=amount_zar,plan_tier",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "payments-today",
      "name": "Payments Today",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 600]
    },
    {
      "parameters": {
        "jsCode": "const meetings = $('Meetings Today').first().json || [];\nconst payments = $('Payments Today').first().json || [];\nconst totalUsers = $('Total Users').first().json?.length ?? 0;\nconst totalRevenue = payments.reduce((sum, p) => sum + parseFloat(p.amount_zar || 0), 0);\nconst totalMinutes = meetings.reduce((sum, m) => sum + (m.duration_seconds || 0), 0) / 60;\nreturn {\n  totalUsers,\n  meetingsToday: meetings.length,\n  totalMeetingMinutes: Math.round(totalMinutes),\n  paymentsToday: payments.length,\n  revenueToday: totalRevenue.toFixed(2),\n  date: new Date().toLocaleDateString('en-ZA'),\n};"
      },
      "id": "code-1",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 400]
    },
    {
      "parameters": {
        "fromEmail": "noreply@conferly.site",
        "toEmail": "admin@conferly.site",
        "subject": "📊 Conferly Daily Report — {{ $json.date }}",
        "emailFormat": "html",
        "html": "<!DOCTYPE html><html><body style=\"font-family:Inter,sans-serif;background:#0f172a;color:#fff;padding:40px;\"><div style=\"max-width:560px;margin:0 auto;background:rgba(255,255,255,0.03);border-radius:16px;padding:32px;\"><h1 style=\"margin:0 0 24px;\">📊 Daily Report</h1><p style=\"color:#94a3b8;\">{{ $json.date }}</p><div style=\"display:grid;grid-template-columns:1fr 1fr;gap:12px;margin-top:24px;\"><div style=\"background:rgba(245,158,11,0.1);padding:20px;border-radius:12px;\"><div style=\"color:#fbbf24;font-size:32px;font-weight:bold;\">{{ $json.totalUsers }}</div><div style=\"color:#94a3b8;font-size:13px;\">Total Users</div></div><div style=\"background:rgba(34,197,94,0.1);padding:20px;border-radius:12px;\"><div style=\"color:#4ade80;font-size:32px;font-weight:bold;\">{{ $json.meetingsToday }}</div><div style=\"color:#94a3b8;font-size:13px;\">Meetings Today</div></div><div style=\"background:rgba(59,130,246,0.1);padding:20px;border-radius:12px;\"><div style=\"color:#60a5fa;font-size:32px;font-weight:bold;\">{{ $json.totalMeetingMinutes }}</div><div style=\"color:#94a3b8;font-size:13px;\">Meeting Minutes</div></div><div style=\"background:rgba(168,85,247,0.1);padding:20px;border-radius:12px;\"><div style=\"color:#c084fc;font-size:32px;font-weight:bold;\">R{{ $json.revenueToday }}</div><div style=\"color:#94a3b8;font-size:13px;\">Revenue ({{ $json.paymentsToday }} payments)</div></div></div></div></body></html>",
        "options": {}
      },
      "id": "email-1",
      "name": "Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Daily at 6pm SAST": {
      "main": [[
        { "node": "Total Users", "type": "main", "index": 0 },
        { "node": "Meetings Today", "type": "main", "index": 0 },
        { "node": "Payments Today", "type": "main", "index": 0 }
      ]]
    },
    "Total Users": { "main": [[{ "node": "Build Report", "type": "main", "index": 0 }]] },
    "Meetings Today": { "main": [[{ "node": "Build Report", "type": "main", "index": 0 }]] },
    "Payments Today": { "main": [[{ "node": "Build Report", "type": "main", "index": 0 }]] },
    "Build Report": { "main": [[{ "node": "Email Report", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "conferly" }, { "name": "analytics" }, { "name": "scheduled" }]
}
